<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817751276557-1pi0rdb21l29ggpmvf736ttho0v24t0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817751276557-1pi0rdb21l29ggpmvf736ttho0v24t0k</string>
	<key>API_KEY</key>
	<string>AIzaSyB2QxahMGnJxhEaDzN72Jo4lvyyifqJP58</string>
	<key>GCM_SENDER_ID</key>
	<string>817751276557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.dds.agataApp</string>
	<key>PROJECT_ID</key>
	<string>loja-agata-dds1</string>
	<key>STORAGE_BUCKET</key>
	<string>loja-agata-dds1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817751276557:ios:e4ebd047a6914e65e42944</string>
</dict>
</plist>